.RecommendationPreview {
  position: fixed;
  width: 70vw;
  height: 50%;
  left: 15%;
  top: 20%;
  z-index: 200;
  background-color: var(--off-secondary-color);
  padding: 32px 0px;
  box-sizing: border-box;
  transition: transform 0.7s ease-out;
  text-align: center;
  border-radius: 3px;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.ClosePreview{
    position: absolute;
    right: 5%;
    top: 10%;
    cursor: pointer;
    font-size: 2rem;
}

.ClosePreview span {
  display: block;
  width: 29px;
  height: 5px;
  margin-bottom: 5px;
  background-color: var(--off-line-active);
  transition: background-color 0.2s;
}
.ClosePreview:hover span{
  background-color: var(--line-active);
}
.ClosePreview span
{
  transform: rotate(45deg) translate(1px, 0px);
}
.ClosePreview span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(7px, -6px);
}


.openPreview{
  animation: openPreview 0.2s ease-out forwards;
}
.closePreview{
  animation: closePreview 0.2s ease-out forwards;
}

@keyframes openPreview{
  0%{
    opacity: 0;
    transform: translateY(-10%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes closePreview{
  0%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 0;
    transform: translateY(-10%);
  }
}
