.imageContainer {
  position: relative;
  margin-top: 5rem;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  border-radius: 2%;
  background-color: lightgray;
}

.imageContainer img {
  border-radius: 2%;
}

@media (min-width: 768px) {
  .imageContainer {
    width: 20rem;
    height: 19rem;
  }
  .imageContainer:hover {
    transform: scale(1.5);
  }
}
