.recommendation {
  cursor: pointer;
}
.recommendationPhoto {
  width: 15rem;
  height: 19rem;
  border: 2px solid var(--main-color);
  transition: all 0.3s;
  position: relative;
}
/* .recommendation:hover {
  transform: scale(1.2);
} */
@media (hover: hover) and (pointer: fine) {
  .recommendation:hover > .recommendationPhoto{
    transform: scale(1.1);
  }
}
