.recommendation {
  margin: 0 auto;
  cursor: pointer;
}
.recommendationPhoto {
  width: 15rem;
  margin: 0 auto;
  height: 19rem;
  border: 2px solid var(--main-color);
  transition: all 0.3s;
  position: relative;
  background-color: lightgray;
}
/* .recommendation:hover {
  transform: scale(1.2);
} */
.recommendationTitle{
  min-height: 4rem;
}
@media (hover: hover) and (pointer: fine) {
  .recommendation:hover > .recommendationPhoto{
    transform: scale(1.1);
  }
}
