.reccomendations {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  .reccomendation {
    width: 10rem;
    height: 10rem;
    border: 2px solid var(--color-orange);
  }
  .reccomendation p {
    transform: rotate(-50deg);
  }
  